table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}


.text-right .mat-sort-header-container {
    justify-content: flex-end;
}

.text-right .mat-sort-header-container {
    justify-content: flex-end;
}

.header-align-right {
    text-align: right;
    justify-content: flex-end;
}

.verticalAlignTop {
    vertical-align: top !important;
}

.mine {
    position: fixed;
    bottom: 40px;
    right: 20px;
}